* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif, serif;
    overflow: hidden;
}

.main {
    background-color: black;
}

.info {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 200px;
    height: 500px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
}

.info p {
    color: white;
    padding: 10px;
    font-size: 28pt;
}
